[submodule "deliveroo-auth-service"]
	path = deliveroo-auth-service
	url = https://github.com/DiluDevX/deliveroo-auth-service.git
[submodule "deliveroo-mail-service"]
	path = deliveroo-mail-service
	url = https://github.com/DiluDevX/deliveroo-mail-service.git
[submodule "deliveroo-clone-api"]
	path = deliveroo-clone-api
	url = https://github.com/DiluDevX/deliveroo-clone-api.git
	branch = develop
